/Prototype/.vs
metadata
/Prototype/Library/assetDatabase3
/Prototype/Library/CurrentLayout.dwlt
/Prototype/Library/expandedItems
/Prototype/Library/shadercompiler-UnityShaderCompiler.exe0.log
/Prototype/Library/UnityAssemblies/version.txt
ScriptAssemblies
ShaderCache
/Prototype/Library/InspectorExpandedItems.asset
/Prototype/Library/LastSceneManagerSetup.txt
/Prototype/UpgradeLog.htm
/Prototype/Prototype.v12.suo
/Prototype/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/DecodedBanks/English(US).meta
/Prototype/Assets/WwiseProject/GeneratedSoundBanks/Windows/DecodedBanks/English(US).meta
/Prototype/Assets/WwiseProject/Originals/SFX.meta
/Prototype/Assets/WwiseProject/Originals/Voices/English(US).meta
/Prototype/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData 1.asset
/Prototype/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData 1.asset.meta
/Prototype/Library/UnityAssemblies/SyntaxTree.VisualStudio.Unity.Bridge.dll
/Prototype/Library/UnityAssemblies/SyntaxTree.VisualStudio.Unity.Bridge.xml
/Prototype/Library/UnityAssemblies/UnityEditor.Advertisements.dll
/Prototype/Library/UnityAssemblies/UnityEditor.Advertisements.xml
/Prototype/Library/UnityAssemblies/UnityEditor.EditorTestsRunner.dll
/Prototype/Library/UnityAssemblies/UnityEditor.EditorTestsRunner.xml
/Prototype/Library/UnityAssemblies/UnityEditor.Graphs.dll
/Prototype/Library/UnityAssemblies/UnityEditor.Graphs.xml
/Prototype/Library/UnityAssemblies/UnityEditor.Networking.dll
/Prototype/Library/UnityAssemblies/UnityEditor.Networking.xml
/Prototype/Library/UnityAssemblies/UnityEditor.TreeEditor.dll
/Prototype/Library/UnityAssemblies/UnityEditor.TreeEditor.xml
/Prototype/Library/UnityAssemblies/UnityEditor.UI.dll
/Prototype/Library/UnityAssemblies/UnityEditor.UI.xml
/Prototype/Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.dll
/Prototype/Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.xml
/Prototype/Library/UnityAssemblies/nunit.framework.dll
/Prototype/Library/UnityAssemblies/nunit.framework.xml
/Prototype/Prototype.CSharp.Editor.csproj
/Prototype/Prototype.CSharp.Plugins.csproj
