/Prototype/.vs
metadata
/Prototype/Library/assetDatabase3
/Prototype/Library/CurrentLayout.dwlt
/Prototype/Library/expandedItems
/Prototype/Library/shadercompiler-UnityShaderCompiler.exe0.log
/Prototype/Library/UnityAssemblies/version.txt
ScriptAssemblies
ShaderCache
/Prototype/Library/InspectorExpandedItems.asset
/Prototype/Library/LastSceneManagerSetup.txt
/Prototype/UpgradeLog.htm
/Prototype/Prototype.v12.suo
