/Prototype/.vs
metadata
/Prototype/Library/assetDatabase3
/Prototype/Library/CurrentLayout.dwlt
/Prototype/Library/expandedItems
/Prototype/Library/shadercompiler-UnityShaderCompiler.exe0.log
/Prototype/Library/UnityAssemblies/version.txt
ScriptAssemblies
ShaderCache
